<html>
<body>

{{#if create}}
    <h1>Create {{entity.Label}}</h1>
{{else}}
    <p>Update {{entity.Label}}</p>
{{/if}}

<form>

    {{#formElements entity.Elements row}}

        <div class="form-group">
            <label for="{{this.ID}}">{{this.Label}}</label>
            <input type="text" class="form-control" id="{{this.ID}}" placeholder="" value="{{this.Value}}" />
        </div>

     {{/formElements}}

</form>

</body>
</html>
