<html>
<body>

    <h1>List: {{entity.Labels}}</h1>
    <a href="{{@root.entity.ID}}/create">Create {{entity.Label}}</a>

    <ul>
        <li>
            <ul>
                {{#listColumnHeadings entity.Elements}}
                    <li>
                        <strong>{{this.Label}}</strong>
                    </li>
                {{/listColumnHeadings}}
            </ul>
        </li>

        {{#listRows entity.Elements rows}}
            <li>
                <ul>
                    {{#listCells entity.Elements this.Row}}
                        <li>{{this}}</li>
                    {{/listCells}}
                    <li>
                        Actions:
                        <ul>
                            <li><a href="{{@root.entity.ID}}/{{this.ID}}/view">View</a></li>
                            <li><a href="{{@root.entity.ID}}/{{this.ID}}/edit">Edit</a></li>
                            <li><a href="{{@root.entity.ID}}/{{this.ID}}/delete">Delete</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        {{/listRows}}

    </ul>

</body>
</html>
